@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,900|Mr+Dafoe|Raleway:400,600,700);
/*-------------------- M A I N --------------------*/
body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #394053; 
    margin:0;
    overflow:hidden;
}

*{
  box-sizing: border-box;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    width:100%;
    flex-direction:column;
    overflow: hidden;
    height: auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    cursor: default;
}
.body-container{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.section-title {
    position: absolute;
    top: 20%;
    left: 6%;
    color: #77BAB1;
    font-size: 32px;
    transform: rotate(-10deg);
    font-family: "Mr Dafoe";
    letter-spacing: 1.5px;
    font-weight: 100;
    transition: all .5s;
}

.section-title h2 {
    margin: 0;
    margin-top: -20px;
    margin-left: 20px;
    font-weight: normal;
}

.section-title h4 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

@media screen and (max-width: 800px){
    section {
        justify-content: initial;
    }
    .section-title{
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 70px;
        position:initial;
    }
}

/*-------------------- H E A D E R --------------------*/
.header {
    position:fixed;
    width:100%;
    z-index:10;
    transition: all .6s;
    background-color:#394053;
    height:0;
    overflow:hidden;
    color:white;
}
  
.header.active{
    height:100vh;
}

.header-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    
}
.header h1{
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 40px;
    margin:0;
    transition: all .3s;
}


.header.active h1:nth-child(4) {
    animation: 0.9s ease-out  slideDown;
}
.header.active h1:nth-child(3) {
    animation: 1.1s ease-out  slideDown;
}
.header.active h1:nth-child(2) {
    animation: 1.3s ease-out  slideDown;
}
.header.active h1:nth-child(1) {
    animation: 1.5s ease-out  slideDown;
}

.header h1:hover{
    margin-left: -5px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    color: #77BAB1;
}

.header .header-links {
    position: absolute;
    left: 20px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}
.header .header-links a:visited, .header .header-links a:link {
    color: white
}
.header .header-links i {
    margin: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}

.header.active .header-links{
    animation: 1s slideUp;
}
.header .header-links i:hover{
    padding: 5px 0px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    color: #77BAB1;
} 

#menu.button {
    float:right;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    margin:20px;
    font-size: 30px;
    cursor:pointer;
    position:fixed;
    z-index:25;
    right:0;
}

#menu.button  i {
    margin-top:-23px;
    transition: all .6s;
}

#menu.button  i:first-child{
    margin-top:0px;
}

#menu.button.active i{
    transform: rotate(40deg) skewX(0deg);
    margin-top:-30px;
    color:white;
}

#menu.button.active i:first-child{
    transform: rotate(-40deg) skewX(0deg);
    margin-top:0px;
}

#menu.button i:nth-child(3), #menu.button i:nth-child(4) {
    color:white;
}

#menu.button i:nth-child(3)
{
    margin-top: -33.5px;
}
#menu.button.active i:nth-child(3), #menu.button.active i:nth-child(4) {
    display:none;
}

/*-------------------- I N T R O D U C T I O N --------------------*/
.introduction * {
    cursor:default;
}
.introduction{
    justify-content: center;
}
.introduction .title{
    font-weight: 800;
    color: transparent;
    font-size:150px;
    background: url("ccu-an-b.JPG") repeat;
    background-position: 50% 25%;
    background-size: cover;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
    line-height: 0px;
    letter-spacing: -9px;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21)) grayscale(100%);
    transition: all .5s, line-height ease 1.5s;
}

.introduction .title.show{
    line-height: 120px;
}
.introduction .title:hover{
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21))
}
.introduction .subtitle{
    display: none;
    text-align: center;
    text-transform: uppercase;
    padding-top:10px;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    animation: 5s ease-out  fadeIn;
    color: #77BAB1;
}

.introduction .button-down{
    position:absolute;
    bottom: 30px;
    display:flex;
    justify-content:center;
    width:100%;
    font-size:25px;
  }
  
.introduction .button-down a {
    cursor:pointer;
    transition: all .3s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
    height: 40px;
    padding-top: 10px;
}

.introduction .button-down a:hover {
    padding-top: 0;
}

.introduction .button-down a i{
    cursor:pointer;
    transition: all .3s;
    color: #77BAB1;
    text-shadow: 0em 0.4em 0.15em rgba(0,0,0, 0.21)
}

.introduction .button-down a:hover i{
    text-shadow:  0em 0.6em 0.15em rgba(0,0,0, 0.21)
}

@media screen and (max-width: 800px){
    .introduction .title{
      font-size: 80px;
      letter-spacing: -7px;
    }
    .introduction .title.show{
        line-height: 65px;
    }
}

@media screen and (max-width: 400px){
    .introduction .title{
      font-size: 70px;
    }
    .introduction .title.show{
        line-height: 55px;
    }
}

/*-------------------- A B O U T --------------------*/

.about{
    position: relative;
    background-color:#394053;
}

.about::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 30%;
    background-color: white;
    bottom: -15%;
    transform: rotate(-5deg); 
    transition: all .3s;
}

.about .about-container{
    padding: 0 40px;
    transition: all .5s
}

.about .about-container .resume{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.about .about-container h1 {
    color:white;
    font-family: roboto;
    font-weight: 900;
    letter-spacing: 2px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    font-size: 32px;
}

.about .about-container h2 {
    color: #D2D5DD;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-top: -15px;
    font-size: 18px;
    margin-bottom: 30px;
}

.about .about-container p {
    color: #9FA2B2;
    flex-basis: 48%;
}

.about .about-container p span {
    color:#D2D5DD;;
    font-family: Roboto;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.about .about-container p span a {
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.about .about-container p span a:hover {
    padding-right: 5px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
}

/* .about .about-container p span.blue{
    color: #77BAB1;
} */

.about .see-projects{
    text-align: right;
    text-transform: lowercase;
    color: #77BAB1;
    cursor: pointer;
    transition: all .5s;
}

.about .see-projects:hover{
    margin-right: 10px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
}

@media screen and (max-width:900px){
    .about::after{
        bottom: -20%;
    }
    .about .about-container .resume{
        display: initial;
    }
}
@media screen and (max-width: 800px){
    .about{
        padding-bottom: 70px;
    }
    .about .about-container{
        margin:auto;
    }

    .about .see-projects{
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px){
    .about .about-container{
        padding: 0 20px;
    }
}
/*-------------------- P R O J E C T --------------------*/

.projects{
    position: relative;
    padding:40px;
}

.projects .section-title{
    top: -35px;
    padding: 0 15px;
    background-color: white;
    position: absolute;
    margin-top:0;
}

.projects .project-container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid #77BAB1;
    flex: 1;
    display: flex;
    z-index:1;
}

.projects .project-container .right-top{
    position: absolute;
    background-color: white;
    height: 120px;
    width: 120px;
    top: -40px;
    right:-40px;
    z-index:-1
}
@media screen and (max-width:800px){
    .projects .project-container {
        display:flex;
        align-items: center
    }
}
@media screen and (max-width: 600px){
    .projects{
        padding: 20px;
        padding-top:40px;
    }
    .projects .project-container .right-top{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .projects .section-title{
        padding: 0 5px;
        margin-left:0;
    }
}
/*-------------------- O N E  P R O J E C T --------------------*/
.one-project {
    width:100%;
    background-color:white;
    display: none;
    align-items:center;
    position:relative;
    z-index:-1;
}

.one-project.active {
    display:flex
}

/*----DESCRIPTION----*/
.one-project .description {
    width:60%;
    height:100%;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
  
.one-project .description .title{
    position:relative;
}
.one-project .description .title h1 {
    font-family: 'Raleway', sans-serif;
    color: #F4A194;
    font-size: 4em;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    margin:0;
    letter-spacing:-3px;
    filter: drop-shadow( 0.15em 0.00em rgba(0,0,0, 0.1));
    transition: all .3s;
}
#hypertube.one-project .description .title h1{
    color: #E59500;
}
#freelance.one-project .description .title h1{
    color: #71BCDC;
}
#camagru.one-project .description  .title h1{
    color: #9FA2B2;
}

#yser.one-project .description .title h1{
    color: #FEDD5C;
}

.one-project .description .title h2{
    position: absolute;
    color: #394053;
    font-size: 2em;
    top: 53px;
    left: 50%;
    margin: 0;
    font-family: "Raleway";
    transition: all .3s;
}

.one-project .description .languages {
    display:flex;
    flex-direction:column;
    width:150px;
    margin-left:40%;
    margin-top:15px;
    transition: all .3s;
}

.one-project .description .languages h3{
    margin: 5px 0;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 18px;
    color: #9FA2B2;
}
.one-project .description .info {
    display:flex;
    position:absolute;
    bottom:20px ;
    left:10px;
    width:200%;
}

.one-project .description .info .one-info {
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0px 20px;
}

.one-project .description .info .one-info h3, .one-project .description .info .one-info h4{
    margin:0;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight:normal;
    font-size:15px;
    color: #9FA2B2;
}
.one-project .description .info .one-info h4{
    color: #394053;
    font-size:14px;
}

@media screen and (max-width: 950px){
    .one-project .description .languages {
        margin-top:45px;
    }
}

@media screen and (max-width: 800px){
    .one-project {
        flex-direction: column
    }

    .one-project .description{
        height: auto;
        width: 100%;
        padding-top: 60px;
    }

    .one-project .description .title {
        margin-top:20px;
    }
    .one-project .description .info{
        position: initial;
        justify-content: center;
        margin-bottom: 20px;
        margin-top:10px;
        width: 100%;
    }
    .one-project .description .info .one-info {
        margin: 0;
        flex-basis: 30%;
        justify-content: flex-start;
        text-align: center;
    }

}

@media screen and (max-width: 600px){

    .one-project .description .title h1{
        font-size: 3em;
    }
    .one-project .description .title h2{
        text-align: center;
        width: 100%;
        left:0;
        font-size: 1.5em;
        top: 40px;
    }

    .one-project .description .languages {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

/*----SCREENSHOTS----*/
.one-project .screenshots {
    width:50%;
    float:right;
    position:relative;
    display:flex;
    padding:20px;
    background-color:white;
    right:-80px;
    transition: all .3s;
}

.one-project .screenshots .screen img {
    width:100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.one-project .screenshots .screen.full {
    width:100%;
    transition: all .3s;
}

.one-project .screenshots .screen.phone {
    width:35%;
    position: absolute;
    bottom: -10%;
    left: -15%;
    transition: all .3s;
}

#camagru.one-project .screenshots .screen.phone {
    width:60%;
}

.one-project .screenshots.height{
    width: auto;
}

.one-project .screenshots.height .screen img {
    width: auto;
    height: 100%;
}

.one-project .screenshots.height .screen.phone{
    width: auto;
    height: 55vh;
    bottom: 0;
}

#camagru.one-project .screenshots.height .screen.phone{
    width: auto;
    height: 40vh;
}

.one-project .screenshots.height .screen.full{
    height: 75vh;
}

@media screen and (max-width: 800px){

    .one-project .screenshots{
        width: 90%;
        right: 0;
        margin-top: 10px;
    }
    .one-project .screenshots .screen.phone{
        display: none;
    }

}
/*----BUTTON----*/
.one-project .code-link{
    position: absolute;
    padding: 0px 10px;
    bottom: -25px;
    right:80px;
    background-color:white;

}

.one-project .code-link .button{
    padding: 15px 40px;
    color: #F4A194;
    transition: all .4s;
    background-color:white;
/*     border: 1.5px solid #77BAB1; */
    z-index:2;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    position:relative;
    border-radius:4px;
}
.one-project .code-link .button a{
    color: #F4A194;
    cursor: pointer;
}

#camagru.one-project .code-link .button a, #camagru.one-project .code-link .button{
    color: #9FA2B2;
    cursor: pointer;
}
#hypertube.one-project .code-link .button a, #hypertube.one-project .code-link .button{
    color: #E59500;
    cursor: pointer;
}

.one-project .code-link .button:hover {
    background-color:#F4A194;
    color:white;
}

#camagru.one-project .code-link .button:hover{
    background-color: #9FA2B2;
    color:white;
}

#hypertube.one-project .code-link .button:hover{
    background-color: #E59500;
    color:white;
}


.one-project .code-link .button:hover a{
    color:white;
}

#camagru.one-project .code-link .button:hover a{
    color:white;
}

#hypertube.one-project .code-link .button:hover a{
    color:white;
}
.one-project .code-link .button:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background: rgba(225, 225, 225, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width:800px){
    .one-project .code-link {
        position: initial;
        margin-bottom: 20px;
    }
}
/*---Pagination---*/
.projects .pagination{
    padding: 10px;
    position: absolute;
    left: -31px;
    height: 100%;
    display:flex;
    align-items:center;
}

.projects .pagination .pagination-container {
    display: flex;
    flex-direction: column;
    height:50%;
    max-height: 500px;
    justify-content:space-between;
}

.projects .pagination .pagination-container .project-page-border{
  padding: 10px 0;
  background-color:white;
}

.projects .pagination .pagination-container .project-page {
  /* background-color: #9FA2B2; */
  border-radius:4px;
  height:40px;
  width:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  color:#9FA2B2;
  /* color:white; */
  transition:all .4s;
  position:relative;
}

.projects .pagination .pagination-container #matcha.project-page.active, .projects .pagination .pagination-container #matcha.project-page:hover{
  background-color:#F4A194;
  color:white;
}

.projects .pagination .pagination-container #freelance.project-page.active, .projects .pagination .pagination-container #freelance.project-page:hover{
    background-color:#71BCDC;
    color:white;
}

.projects .pagination .pagination-container #camagru.project-page.active, .projects .pagination .pagination-container #camagru.project-page:hover{
    background-color:#9FA2B2;
    color:white;
}

.projects .pagination .pagination-container #yser.project-page.active, .projects .pagination .pagination-container #yser.project-page:hover{
    background-color:#FEDD5C;
    color:white;
}

.projects .pagination .pagination-container #hypertube.project-page.active, .projects .pagination .pagination-container #hypertube.project-page:hover{
    background-color:#E59500;
    color:white;
}


.projects .pagination .pagination-container .project-page:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background: rgba(225, 225, 225, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.projects .pagination .pagination-container .project-page h1{
  margin:0;
  font-family:Raleway;
  font-size:16px;
  font-weight:normal;
  cursor:pointer;
}

/*-------------------- M E D I A --------------------*/

.media{
    position: relative;
    background-color:#394053;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: initial;
    padding:0 20px;
    padding-top:25%;
    color:white;
    padding-bottom: 100px;
}

.media.height{
    padding-top:10%;
}

.media.height .section-title{
    top:5%;
}
.media::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 20%;
    background-color: white;
    top: -5%;
    left: -10%;
    transform: rotate(5deg); 
    transition: all .3s;
}

.media h5 {
    color: #9FA2B2;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}

.media .video {
  
    position: relative;
    flex-basis: 40%;
}

.media .video .play{
    position: absolute;
    right: 0;
    bottom: 20px;
    background-color: #394053;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
    font-family: roboto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.media .video .play:hover{
    opacity: 1;
    background-color: white;
    color: #394053;
}

.media .video .play i {
    font-size: 25px;
    margin-left: 10px;
    margin-top: -1px;
}

.media .video img {
    width: 100%;
}

.media .video h1{
    font-family: roboto;
    font-weight: 900;
    letter-spacing: 2px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
}

.media .video p {
    float: right;
    text-align: right;
    font-family: Raleway;
    min-width: 350px;
    width: 80%;
    color: #D2D5DD;
    color: #9FA2B2;
    margin-bottom: 0;
}

.media .video p a {
    color: white;
    transition: all .3s;
}

.media .video p a:hover {
    color: #77BAB1;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
}
.media .video .screenshot{
    position: relative;
}

@media screen and (max-width: 800px){
    .media{
        flex-direction: column;
        justify-content: center;
    }
    .media .video{
        margin:20px;
        flex-basis: initial
    }
}

@media screen and (max-width:900px){
    .media::before{
        top:-10%;
    }
}
@media screen and (max-width: 400px){
    .media .video p {
        min-width: 0;
        width: 100%;
    }
}
/*-------------------- L O A D I N G --------------------*/
#loadingDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

#loadingDiv * {
    cursor: default;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:#394053;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loading-text {
    width: 100%;
    display:flex;
    transition: opacity .8s;
    justify-content:center;
}

.loading-text span {
    overflow: hidden;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    color: #77BAB1;
    font-family: 'Raleway', sans-serif;
}
.loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1s 1.2s infinite linear alternate;
}

/*-------------------- A N I M A T I O N S --------------------*/
@keyframes translateh1{
  0% { opacity : 0; transform: translate(-16px, 0);}
  20% { opacity : 1; transform: translate(0, 0); }
  65% { opacity : 1; transform: translate(0, 0); }
  80% { opacity : 0; transform: translate(16px, 0);}
  100% { opacity : 0; transform: translate(16px, 0);}
}
@keyframes translateh2{
  0% { opacity : 0; transform: translate(-32px, 0);}
  18% { opacity : 1; transform: translate(0, 0); }
  64% { opacity : 1; transform: translate(0, 0); }
  82% { opacity : 0; transform: translate(32px, 0);}
  100% { opacity : 0; transform: translate(32px, 0);}
}

@keyframes slideLeft {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

@keyframes slideRight {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}


@keyframes slideUp {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0);}
}

@keyframes slideDown{
    0% {transform: translateY(-400%);}
    100% {transform: translateY(0);}
}

@keyframes fadeIn{
    from{opacity:0} to{opacity:1}
}

@keyframes blur-text {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
}
