@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

#root{
  width: 100%;
  max-width: 1200px;
  margin:auto;
  margin-top:20px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #394053;
}

*{
  box-sizing: border-box;
}

/*-------------------- O N E  P R O J E C T --------------------*/

/*----CONTAINER----*/
.one-project-container{
    width: 100%;
    position: relative;
    margin: 20px 0;
    padding-top: 75px;
    min-height: 900px;
}
.one-project-container .title {
    position : absolute;
    top:0;
}
.one-project-container .title h1, .one-project-container .title h2 {
    margin : 0 1rem;
    white-space: nowrap;
    filter: drop-shadow(0.01em 0.01em 0.01em rgba(black, 0.21));
}

.one-project-container .title h1 {
    font-family: 'Roboto', sans-serif;
    color : #F4A194;
    font-size : 8em;
    font-weight : bold;
    text-transform : uppercase;
    animation : translateh1 3s ;
}

.one-project-container .title h2 {
    position : absolute;
    color : #394053;
    font-size : 4em;
    animation : translateh2 3s;
    bottom: -5px;
    left: 45%;
}  

/*----DESCRIPTION----*/
.description{
    background-color: #FCF6F4;
    width: 50%;
    float: right;
    padding:110px 40px 90px 180px;
}
.description h1{
    margin:5px 0;
}
.description h2{
      text-transform: uppercase;
      font-size:1.1em;
      letter-spacing:0.5px;
      margin-bottom:0;
      font-weight:bold;
      color: #9FA2B2;
}

/*----MORE DESCRIPTION----*/
.more-description{
    float:right;
    clear: both;
    margin-right: 190px;
    margin-top: 20px;
}
.more-description h3{
    color: #9FA2B2;
}
.more-description .link{
    margin-top:20px;
    padding: 15px 40px;
    background-color:#F4A194;
    cursor:pointer;
    position:relative;
    transition: all .3s;
}
.more-description .link a {
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:0.9rem;
}
.more-description .link:after{
    content:'';
    display:block;
    width:100%;
    height:50%;
    background:rgba(225,225,225,0.2);
    position:absolute;
    top:0;
    left:0; 
}
.more-description .link:hover{
    background-color : #394053;
}

/*----SCREENSHOT----*/
.screen-container{
    top: 200px;
    position: absolute;
    width:70%;
}
.screen-container .screen {
    border-radius: 4px;
}
.screen-container .screen img {
    width:100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.1);
}
.screen-container .screen.phone{
    position:absolute;
    bottom: -70px;
}
.screen-container .screen.phone img {
    width:35%;
    float: right;
}
.screen-container .screen.full {
    width:90%;
}


@keyframes translateh1{
  0% { opacity : 0; transform: translate(-16px, 0);}
  20% { opacity : 1; transform: translate(0, 0); }
  65% { opacity : 1; transform: translate(0, 0); }
  80% { opacity : 0; transform: translate(16px, 0);}
  100% { opacity : 0; transform: translate(16px, 0);}
}
@keyframes translateh2{
  0% { opacity : 0; transform: translate(-32px, 0);}
  18% { opacity : 1; transform: translate(0, 0); }
  64% { opacity : 1; transform: translate(0, 0); }
  82% { opacity : 0; transform: translate(32px, 0);}
  100% { opacity : 0; transform: translate(32px, 0);}
}