@import url(https://fonts.googleapis.com/css?family=Roboto:400,900|Mr+Dafoe|Calligraffitti);
/*-------------------- M A I N --------------------*/
body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #394053; 
    margin:0;
    overflow:hidden;
}

*{
  box-sizing: border-box;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    width:100%;
    flex-direction:column;
    overflow: hidden;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    cursor: default;
}
.body-container{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.section-title {
    position: absolute;
    top: 20%;
    left: 6%;
    color: #77BAB1;
    font-size: 32px;
    transform: rotate(-10deg);
    font-family: "Mr Dafoe";
    letter-spacing: 1.5px;
    font-weight: 100;
    transition: all .5s;
}

.section-title h2 {
    margin: 0;
    margin-top: -20px;
    margin-left: 20px;
    font-weight: normal;
}

.section-title h4 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

@media screen and (max-width: 800px){
    section {
        justify-content: initial;
    }
    .section-title{
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 70px;
        position:initial;
    }
}

/*-------------------- H E A D E R --------------------*/
.header {
    position:fixed;
    width:100%;
    z-index:10;
    transition: all .6s;
    background-color:#394053;
    height:0;
    overflow:hidden;
    color:white;
}
  
.header.active{
    height:100vh;
}

.header-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    
}
.header h1{
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 40px;
    margin:0;
    transition: all .3s;
}

.header h1:hover{
    margin-left: -5px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    color: #77BAB1;
}

.header .header-links {
    position: absolute;
    left: 20px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}
.header .header-links a:visited, .header .header-links a:link {
    color: white
}
.header .header-links i {
    margin: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}

.header .header-links i:hover{
    padding: 5px 0px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    color: #77BAB1;
} 

#menu.button {
    float:right;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    margin:20px;
    font-size: 30px;
    cursor:pointer;
    position:fixed;
    z-index:25;
    right:0;
}

#menu.button  i {
    margin-top:-23px;
    transition: all .6s;
}

#menu.button  i:first-child{
    margin-top:0px;
}

#menu.button.active i{
    transform: rotate(40deg) skewX(0deg);
    margin-top:-30px;
    color:white;
}

#menu.button.active i:first-child{
    transform: rotate(-40deg) skewX(0deg);
    margin-top:0px;
}

#menu.button i:nth-child(3), #menu.button i:nth-child(4) {
    color:white;
}

#menu.button i:nth-child(3)
{
    margin-top: -33.5px;
}
#menu.button.active i:nth-child(3), #menu.button.active i:nth-child(4) {
    display:none;
}

/*-------------------- I N T R O D U C T I O N --------------------*/
.introduction * {
    cursor:default;
}
.introduction{
    justify-content: center;
}
.introduction .title{
    font-weight: 800;
    color: transparent;
    font-size:150px;
    background: url("ccu-an-b.JPG") repeat;
    background-position: 50% 25%;
    background-size: cover;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
    line-height: 0px;
    letter-spacing: -9px;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21)) grayscale(100%);
    transition: all .5s, line-height ease 1.5s;
}

.introduction .title.show{
    line-height: 120px;
}
.introduction .title:hover{
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21))
}
.introduction .subtitle{
    display: none;
    text-align: center;
    text-transform: uppercase;
    padding-top:10px;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    animation: 5s ease-out  fadeIn;
    color: #77BAB1;
}

.introduction .button-down{
    position:absolute;
    bottom: 30px;
    display:flex;
    justify-content:center;
    width:100%;
    font-size:25px;
  }
  
.introduction .button-down a {
    cursor:pointer;
    transition: all .3s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
    height: 40px;
    padding-top: 10px;
}

.introduction .button-down a:hover {
    padding-top: 0;
}

.introduction .button-down a i{
    cursor:pointer;
    transition: all .3s;
    color: #77BAB1;
    text-shadow: 0em 0.4em 0.15em rgba(0,0,0, 0.21)
}

.introduction .button-down a:hover i{
    text-shadow:  0em 0.6em 0.15em rgba(0,0,0, 0.21)
}

@media screen and (max-width: 800px){
    .introduction .title{
      font-size: 80px;
      letter-spacing: -7px;
    }
    .introduction .title.show{
        line-height: 65px;
    }
}

@media screen and (max-width: 400px){
    .introduction .title{
      font-size: 70px;
    }
    .introduction .title.show{
        line-height: 55px;
    }
}

/*-------------------- A B O U T --------------------*/

.about{
    position: relative;
    background-color:#394053;
}

.about::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 20%;
    background-color: white;
    bottom: -10%;
    transform: rotate(-5deg); 
}

.about .about-container{
    padding: 0 40px;
    transition: all .5s
}
.about .about-container h1 {
    color:white;
    font-family: roboto;
    font-weight: 900;
    letter-spacing: 2px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
    font-size: 32px;
}

.about .about-container h2 {
    color: #D2D5DD;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-top: -15px;
    font-size: 18px;
    margin-bottom: 30px;
}

.about .about-container p {
    color: #9FA2B2;
}

@media screen and (max-width: 800px){
    .about .section-title{
        margin-top:70px;
    }
    .about .about-container{
        margin-top:20px;
    }
}

@media screen and (max-width: 500px){
    .about .about-container{
        padding: 0 20px;
    }
}
/*-------------------- A B O U T --------------------*/

.projects{
    position: relative;
}

.projects .section-title{
    top:40px;
}


/*-------------------- O N E  P R O J E C T --------------------*/
/*----CONTAINER----*/
.one-project-container{
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 20px 0;
    padding-top: 75px;
    min-height: 1050px;
}
.one-project-container .title {
    position : absolute;
    top:0;
}

.one-project-container.right .title{
    right: 0;
}
.one-project-container .title h1, .one-project-container .title h2 {
    margin : 0 1rem;
    white-space: nowrap;
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21));
}

.one-project-container .title h1 {
    font-family: 'Roboto', sans-serif;
    color : #F4A194;
    font-size : 8em;
    font-weight : bold;
    text-transform : uppercase;
    animation : translateh1 3s ;
    margin:0;
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21));
}

.one-project-container.right .title h1{
    color: #71BCDC;
}
.one-project-container.camagru .title h1{
    color: #9FA2B2;
}

.one-project-container.right.yser .title h1{
    color: #FEDD5C;
}
.one-project-container .title h2 {
    position : absolute;
    color : #394053;
    font-size : 4em;
    animation : translateh2 3s;
    bottom: -5px;
    left: 45%;
    filter: drop-shadow(0.015em 0.015em 0.015em rgba(0,0,0, 0.21));
}  

.one-project-container.right .title h2{
    right: 45%;
    left:initial;
}

/*----DESCRIPTION----*/
.description{
    background-color: #FCF6F4;
    width: 50%;
    float: right;
    padding:110px 40px 90px 180px;
}

.one-project-container.right .description{
    float:initial;
    background-color: #EAF5FA;
    text-align: right;
    padding: 110px 180px 90px 40px;
}
.one-project-container.camagru .description{
    background-color: #EDEEF1;
}

.one-project-container.right.yser .description{
    background-color: #FEFAE7;
}
.description h1{
    margin:5px 0;
}
.description h2{
      text-transform: uppercase;
      font-size:1.1em;
      letter-spacing:0.5px;
      margin-bottom:0;
      font-weight:bold;
      color: #9FA2B2;
}

/*----MORE DESCRIPTION----*/
.more-description{
    float:right;
    clear: both;
    margin-right: 180px;
    margin-top: 20px;
}

.one-project-container.right .more-description{
    float: left;
    margin-left: 240px;
    margin-top: 20px;
    text-align: right;
}
.more-description h3{
    color: #9FA2B2;
}
.more-description .link{
    margin-top:20px;
    padding: 15px 40px;
    background-color:#F4A194;
    cursor:pointer;
    position:relative;
    transition: all .3s;
}

.one-project-container.camagru .more-description .link{
    background-color:#9FA2B2;
}

.more-description .link a {
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:0.9rem;
}
.more-description .link:after{
    content:'';
    display:block;
    width:100%;
    height:50%;
    background:rgba(225,225,225,0.2);
    position:absolute;
    top:0;
    left:0; 
}
.more-description .link:hover, .one-project-container.camagru .more-description .link:hover{
    background-color : #394053;
}

/*----SCREENSHOT----*/
.screen-container{
    top: 200px;
    position: absolute;
    width:70%;
}

.one-project-container.right .screen-container{
    right:0;
}

.screen-container .screen {
    border-radius: 4px;
}
.screen-container .screen img {
    width:100%;
    object-fit: cover;
    border-radius: 4px;
    /* box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.one-project-container.right .screen-container .screen img {
    /* box-shadow: -10px 10px 15px -7px rgba(0, 0, 0, 0.1); */
}
.screen-container .screen.phone{
    position:absolute;
    bottom: -70px;
    width: 100%;
}
.screen-container .screen.phone img {
    width:35%;
    float: right;
    border-radius: 30px;
}
.screen-container .screen.full {
    width:90%;
}

.one-project-container.right .screen-container .screen.phone img {
    float:left;
}
.one-project-container.right .screen-container .screen.full {
    float: right;
}


/*-------------------- M E D I A --------------------*/

.media{
    position: relative;
    background-color:#394053;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: initial;
    padding:25% 20px;
    color:white;
}

.media::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 20%;
    background-color: white;
    top: -10%;
    transform: rotate(5deg); 
}

.media h5 {
    color: #9FA2B2;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 5px;
    margin: 0;
}

.media .video {
  
    position: relative;
    flex-basis: 40%;
}

.media .video .play{
    position: absolute;
    right: 0;
    bottom: 20px;
    background-color: #394053;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
    font-family: roboto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.media .video .play:hover{
    opacity: 1;
    background-color: white;
    color: #394053
}

.media .video .play i {
    font-size: 25px;
    margin-left: 10px;
    margin-top: -1px;
}

.media .video img {
    width: 100%;
}

.media .video h1{
    font-family: roboto;
    font-weight: 900;
    letter-spacing: 2px;
    filter: drop-shadow(0.25em 0.15em 0.015em rgba(0,0,0, 0.6));
}

.media .video p {
    float: right;
    text-align: right;
    font-family: Raleway;
    min-width: 250px;
    width: 60%;
    color: #D2D5DD;
    color: #9FA2B2;
}
.media .video .screenshot{
    position: relative;
}

@media screen and (max-width: 800px){
    .media{
        flex-direction: column;
        padding-top: 20%;
        justify-content: center;
        padding-bottom: 40px;
    }
    .media .video{
        margin:20px;
    }
}
/*-------------------- L O A D I N G --------------------*/
#loadingDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

#loadingDiv * {
    cursor: default;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:#394053;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loading-text {
    width: 100%;
    display:flex;
    transition: opacity .8s;
    justify-content:center;
}

.loading-text span {
    overflow: hidden;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    color: #77BAB1;
    font-family: 'Raleway', sans-serif;
}
.loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1s 1.2s infinite linear alternate;
}

/*-------------------- A N I M A T I O N S --------------------*/
@keyframes translateh1{
  0% { opacity : 0; transform: translate(-16px, 0);}
  20% { opacity : 1; transform: translate(0, 0); }
  65% { opacity : 1; transform: translate(0, 0); }
  80% { opacity : 0; transform: translate(16px, 0);}
  100% { opacity : 0; transform: translate(16px, 0);}
}
@keyframes translateh2{
  0% { opacity : 0; transform: translate(-32px, 0);}
  18% { opacity : 1; transform: translate(0, 0); }
  64% { opacity : 1; transform: translate(0, 0); }
  82% { opacity : 0; transform: translate(32px, 0);}
  100% { opacity : 0; transform: translate(32px, 0);}
}

@keyframes slideLeft {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

@keyframes slideRight {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}

@keyframes fadeIn{
    from{opacity:0} to{opacity:1}
}

@keyframes blur-text {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
}
